---
layout: default
title: Beauty by Brittany | Makeup Artist
meta-description: Business website for Beauty by Brittany.
featured-image_path: /uploads/pr-photos-6472.jpg
icon-list:
  - icon-code: far fa-snowflake
    heading: Heading
    description: Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
  - icon-code: far fa-snowflake
    heading: Heading
    description: Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
  - icon-code: far fa-snowflake
    heading: Heading
    description: Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
  - icon-code: far fa-snowflake
    heading: Heading
    description: Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
  - icon-code: far fa-snowflake
    heading: Heading
    description: Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
  - icon-code: far fa-snowflake
    heading: Heading
    description: Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
cards:
  - heading: Makeup
    description: I can do your makeup for you or teach you how to do it yourself and provide advice on the right products for you. Bring your own lashes or I can supply them for you.
    featured_image: /images/models10.jpg
  - heading: Bridal
    description: Hair, makeup, tan and lashes, I have a package to suit. I can even take care of your bridesmaids and family. Book a trial and be confident you'll have the look you want on your big day.
    featured_image: /images/bridal.jpg
  - heading: Beauty
    description: Lash extensions, eyebrow waxing and shaping, a spray tan or a blowdry and style. I can help you set the foundation for a great look. I can do it all from the comfort of your own home.
    featured_image: /images/facial.jpg
---

<!-- FIRST BANNER SECTION ---->
<section id="intro-banner" class=" overlay banner bg-featured center grid-middle">
  <div class="col">
    <h1> BEAUTY BY BRITTANY </h1>
    <!-- removed <br class="mob-hide"> from the middle of the h1 -->
  </div>
</section>

<!-- CTA WITH BUTTON SECTION ---->
<section class="bg-featured center">
  <h3> BOOK AN APPOINTMENT </h3>
  <p> Send me an email to book an appointment, or sign up to my mailing list to be the first to hear about events. </p>
  <a class="button-inverted" href="#register"> SIGN UP </a>
</section>

<!--  ICON GRID SECTION ---->
<section class="center">
  <h2> PROFESSIONAL AND EXPERIENCED </h2>
  <div class="icon grid">

    <!-- you can find the icon codes at font awesome (sort for free ones) -->

    {% for item in page.icon-list %}
    <div class="col-4_sm-12">
      <i class="{{item.icon-code}}"></i>
      <h3> {{item.heading}} </h3>
      <p> {{item.description}} </p>
    </div>
    {% endfor %}

  </div> <!-- end of grid -->
</section>

<!-- CTA WITH SIGNUP SECTION ---->
<section class="bg-light center grid">
  <div class="col-12">
    <h3> Another Call to Action </h3>
    <p> This one could be connected to your email newsletter, like mailchimp or mailerlite or just a standard email form.  </p>
    <form class="email-signup" action="https://formspree.io/your@email.com"
        method="POST">
        <input type="text" name="name" placeholder="Your Name">
        <input type="email" name="_replyto" placeholder="Your Email">
        <input type="submit" value="Send" class="button">
    </form>
</section>

<!-- BIG IMAGE + TEXT GRID SECTION ---->
<section class="no-padding">
<div class="grid bg-dark med-height">
  <div class="col-6_sm-12 bg-img" style=" background-size: cover; background-image: url('/images/brittany_carla-136.jpg')">
  </div>
  <div class="col-6_sm-12-middle">
    <h2> Heading </h2>
    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vestibulum dapibus felis, sed convallis turpis aliquam nec. </p>
  </div>
</div> <!-- end grid -->

<div class="grid mob-flip med-height">
  <div class="col-6_sm-12-middle">
    <h2> Heading </h2>
    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vestibulum dapibus felis, sed convallis turpis aliquam nec. </p>
  </div>
  <div class="col-6_sm-12 bg-img" style=" background-size: cover; background-image: url('/images/models15.jpg')">
    <!-- ADD BACKGROUND IMAGE style="background-image:url('_____')" -->
  </div>
</div> <!-- end grid -->

<div class="grid bg-dark med-height">
  <div class="col-6_sm-12 bg-img"style=" background-size: cover; background-image: url('/images/models11.jpg')" >
    <!-- ADD BACKGROUND IMAGE style="background-image:url('_____')" -->
  </div>
  <div class="col-6_sm-12-middle">
    <h2> Heading </h2>
    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vestibulum dapibus felis, sed convallis turpis aliquam nec. </p>
  </div>
</div> <!-- end grid -->
</section>

<!-- CONTACT FORM SECTION ---->
<section class="center bg-light" id="register">
<h2> Contact me </h2>
<p> Got a question? Feel free to send me an email or call anytime. </p>

<form class="grid-center" action="https://formspree.io/tina@instituteofcode.com"
    method="POST">
    <div class="col-4_sm-12">
      <input type="text" name="name" placeholder="Your Name">
      <input type="email" name="_replyto" placeholder="Your Email">
  </div>
  <div class="col-4_sm-12">
    <textarea placeholder="Your Message"></textarea>
  </div>
  <div class="col-12">
    <input type="submit" value="Send" class="button-solid">
  </div>
</form>
</section>

<!-- CARD GRID SERVICES SECTION ----->
<section class="grid">

  <div class="col-12 center">
    <h2> Services </h2>
    <p> I offer a range of professional services and can come to you at an additional cost. Choose from our existing menu, or get in touch for a quote. </p>
  </div>

  {% for card in page.cards %}

  <!-- start column -->
  <div class="col-4_sm-12">

    <!-- start card -->
    <a class="card" href="{{card.link}}">
      <div class="bg-img" style="background-image:url('{{card.featured_image}}')"></div>
      <div class="card-text">
        <h3> {{card.heading}} </h3>
        <p> {{card.description}}</p>
      </div>
    </a> <!-- end card -->

  </div><!-- end column -->

  {% endfor %}
</section>
