<footer class="grid-bottom">

  <!-- Column 1 -->
  <div class="col-6_sm-12">
    <a href="/index">
    <img class="logo" src="images/beauty-logo-resize.png" alt="Beauty by Brittany">
    </a>
    <p> I am a professional mobile makeup artist in Canberra and Sydney. I specialise in wedding and event makeup, but I can also do special effects, festival and editorial makeup.</p>
  </div>

  <!-- Column 2 -->
  <div class="col-3_sm-6_xs-12">
    <nav>
      <a href="/index"> Home </a>
      <a href="/about"> About </a>
      <!-- <a href="/blog"> Blog </a> -->
      <a href="/prices"> Prices </a>
      <a href="/Contact"> Contact </a>
    </nav>
  </div>

  <!-- Column 3 -->
  <div class="col-3_sm-6_xs-12">
    <nav>
      <!-- add your social links here -->
      <a href="https://www.facebook.com/xbeautybybrittany/"> <i class="fab fa-facebook"></i>Facebook </a>
      <a href="https://www.instagram.com/beautybyybrittany/"> <i class="fab fa-instagram"></i>Instagram</a>
      <!-- <a href="#"> <i class="fab fa-twitter"></i>Twitter</a> NO TWITTER-->
    </nav>
  </div>

</footer>
