<header class="grid-middle" >
  <div class="col-6_sm-12">
    <a href="/index">
      <img class="logo" src="/images/beauty-logo-huge.png" alt="Beauty by Brittany">
    </a>
  </div>
  <div class="col-6_sm-12 mob-hide">
    <nav class="right">
      <a href="/index"> Home </a>
      <a href="/about"> About </a>
      <a href="/prices"> Prices </a>
      <!-- <a href="/blog"> Blog </a> MVP -->
      <!-- <a href="/blog"> Blog Alternative </a> don't need this-->
      <a href="/contact"> Contact </a>
    </nav>
  </div>
</header>
